<html>

<head>
    <% include scripts.ejs %>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
</head>

<body>
    <div class="gallerywrapper">
        <div class="gallery">
            <img src="" id="imagetorep" />
        </div>
        <div id="placeholder">Go to
            <br />http://<%= ip %><% if(isOpenshift){ %><% } else { %>:<%= port %><% } %>/login</br>and upload some images to start the gallery</div>
         <div id="photocaption">
             <div class="caption">This is my caption. This is my caption. This is my caption. This is my caption. This is my caption. This is my caption. </div>
             <div class="name">Manohar Prabhu</div>
         </div>
    </div>
</body>

</html>