<html>
<head>
    <% include scripts.ejs %>
</head>
<body>
    <div class="login-modal">
        <div class="title">Before you proceed...</div>
        <div class="row">
           <div class="col-md-12"> <div class="login-button-wrapper"><a href="/auth/facebook" class="btn btn-facebook">Login with Facebook <span class="glyphicon glyphicon-thumbs-up"></span></a></div></div>
        </div>
    </div>
</body>
</html>