<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include scripts.ejs %>
</head>

<body>
    <div class="login-modal">
        <div class="title"><i class="fa fa-user"></i> Before you proceed...</div>
        <div class="row welcome-text">
            <div class="col-md-12"><span>Login into the application with your social networking account so that we can identify you.</span></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="login-button-wrapper"><a href="/auth/facebook" class="btn btn-facebook"><i class="fa fa-facebook"></i> Login with Facebook </a></div>
            </div>
        </div>
    </div>
</body>

</html>
